MVC_Solicitud/Connected Services/ProxyUbigeo/service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="ServicioUbigeo" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import namespace="http://tempuri.org/" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/WCF_SolicitudesCreditos" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IServicioUbigeo_GetDepartamentos_InputMessage">
    <wsdl:part name="parameters" element="tns:GetDepartamentos" />
  </wsdl:message>
  <wsdl:message name="IServicioUbigeo_GetDepartamentos_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDepartamentosResponse" />
  </wsdl:message>
  <wsdl:message name="IServicioUbigeo_GetProvincias_InputMessage">
    <wsdl:part name="parameters" element="tns:GetProvincias" />
  </wsdl:message>
  <wsdl:message name="IServicioUbigeo_GetProvincias_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetProvinciasResponse" />
  </wsdl:message>
  <wsdl:message name="IServicioUbigeo_GetDistritos_InputMessage">
    <wsdl:part name="parameters" element="tns:GetDistritos" />
  </wsdl:message>
  <wsdl:message name="IServicioUbigeo_GetDistritos_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDistritosResponse" />
  </wsdl:message>
  <wsdl:portType name="IServicioUbigeo">
    <wsdl:operation name="GetDepartamentos">
      <wsdl:input wsaw:Action="http://tempuri.org/IServicioUbigeo/GetDepartamentos" message="tns:IServicioUbigeo_GetDepartamentos_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServicioUbigeo/GetDepartamentosResponse" message="tns:IServicioUbigeo_GetDepartamentos_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetProvincias">
      <wsdl:input wsaw:Action="http://tempuri.org/IServicioUbigeo/GetProvincias" message="tns:IServicioUbigeo_GetProvincias_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServicioUbigeo/GetProvinciasResponse" message="tns:IServicioUbigeo_GetProvincias_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetDistritos">
      <wsdl:input wsaw:Action="http://tempuri.org/IServicioUbigeo/GetDistritos" message="tns:IServicioUbigeo_GetDistritos_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServicioUbigeo/GetDistritosResponse" message="tns:IServicioUbigeo_GetDistritos_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IServicioUbigeo" type="tns:IServicioUbigeo">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetDepartamentos">
      <soap:operation soapAction="http://tempuri.org/IServicioUbigeo/GetDepartamentos" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetProvincias">
      <soap:operation soapAction="http://tempuri.org/IServicioUbigeo/GetProvincias" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDistritos">
      <soap:operation soapAction="http://tempuri.org/IServicioUbigeo/GetDistritos" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ServicioUbigeo">
    <wsdl:port name="BasicHttpBinding_IServicioUbigeo" binding="tns:BasicHttpBinding_IServicioUbigeo">
      <soap:address location="http://localhost:8733/Design_Time_Addresses/WCF_SolicitudesCreditos/ServicioUbigeo/" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>