MVC_Solicitud/Connected Services/ProxyUbigeo/service.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.datacontract.org/2004/07/WCF_SolicitudesCreditos" />
  <xs:element name="GetDepartamentos">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDepartamentosResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/WCF_SolicitudesCreditos" minOccurs="0" name="GetDepartamentosResult" nillable="true" type="q1:ArrayOfUbigeoBE" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetProvincias">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idDepartamento" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetProvinciasResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/WCF_SolicitudesCreditos" minOccurs="0" name="GetProvinciasResult" nillable="true" type="q2:ArrayOfUbigeoBE" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDistritos">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idDepartamento" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="idProvincia" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDistritosResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/WCF_SolicitudesCreditos" minOccurs="0" name="GetDistritosResult" nillable="true" type="q3:ArrayOfUbigeoBE" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>