MVC_Solicitud/Connected Services/ProxyGarantia/WCF_SolicitudesCreditos.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/WCF_SolicitudesCreditos" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/WCF_SolicitudesCreditos" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="GarantiaBE">
    <xs:sequence>
      <xs:element minOccurs="0" name="Des_garantia" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Est_garantia" type="xs:int" />
      <xs:element minOccurs="0" name="Estado" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Fec_reg" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Fec_ult_mod" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Id_cli" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id_garantia" type="xs:int" />
      <xs:element minOccurs="0" name="Tip_garantia" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Usu_registro" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Usu_ult_mod" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Valor_garantia" type="xs:float" />
      <xs:element minOccurs="0" name="apeCliente" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="nomCliente" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="GarantiaBE" nillable="true" type="tns:GarantiaBE" />
  <xs:complexType name="ArrayOfGarantiaBE">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="GarantiaBE" nillable="true" type="tns:GarantiaBE" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfGarantiaBE" nillable="true" type="tns:ArrayOfGarantiaBE" />
</xs:schema>