SolicitudesAppWindows/Connected Services/ProxyGarantia/service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="ServicioGarantia" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import namespace="http://tempuri.org/" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/WCF_SolicitudesCreditos" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IServicioGarantia_InsertGarantia_InputMessage">
    <wsdl:part name="parameters" element="tns:InsertGarantia" />
  </wsdl:message>
  <wsdl:message name="IServicioGarantia_InsertGarantia_OutputMessage">
    <wsdl:part name="parameters" element="tns:InsertGarantiaResponse" />
  </wsdl:message>
  <wsdl:message name="IServicioGarantia_UpdateGarantia_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateGarantia" />
  </wsdl:message>
  <wsdl:message name="IServicioGarantia_UpdateGarantia_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateGarantiaResponse" />
  </wsdl:message>
  <wsdl:message name="IServicioGarantia_DeleteGarantia_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteGarantia" />
  </wsdl:message>
  <wsdl:message name="IServicioGarantia_DeleteGarantia_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteGarantiaResponse" />
  </wsdl:message>
  <wsdl:message name="IServicioGarantia_GetGarantiaPorCliente_InputMessage">
    <wsdl:part name="parameters" element="tns:GetGarantiaPorCliente" />
  </wsdl:message>
  <wsdl:message name="IServicioGarantia_GetGarantiaPorCliente_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetGarantiaPorClienteResponse" />
  </wsdl:message>
  <wsdl:message name="IServicioGarantia_GetGarantia_InputMessage">
    <wsdl:part name="parameters" element="tns:GetGarantia" />
  </wsdl:message>
  <wsdl:message name="IServicioGarantia_GetGarantia_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetGarantiaResponse" />
  </wsdl:message>
  <wsdl:message name="IServicioGarantia_GetAllGarantias_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllGarantias" />
  </wsdl:message>
  <wsdl:message name="IServicioGarantia_GetAllGarantias_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllGarantiasResponse" />
  </wsdl:message>
  <wsdl:portType name="IServicioGarantia">
    <wsdl:operation name="InsertGarantia">
      <wsdl:input wsaw:Action="http://tempuri.org/IServicioGarantia/InsertGarantia" message="tns:IServicioGarantia_InsertGarantia_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServicioGarantia/InsertGarantiaResponse" message="tns:IServicioGarantia_InsertGarantia_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateGarantia">
      <wsdl:input wsaw:Action="http://tempuri.org/IServicioGarantia/UpdateGarantia" message="tns:IServicioGarantia_UpdateGarantia_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServicioGarantia/UpdateGarantiaResponse" message="tns:IServicioGarantia_UpdateGarantia_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteGarantia">
      <wsdl:input wsaw:Action="http://tempuri.org/IServicioGarantia/DeleteGarantia" message="tns:IServicioGarantia_DeleteGarantia_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServicioGarantia/DeleteGarantiaResponse" message="tns:IServicioGarantia_DeleteGarantia_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetGarantiaPorCliente">
      <wsdl:input wsaw:Action="http://tempuri.org/IServicioGarantia/GetGarantiaPorCliente" message="tns:IServicioGarantia_GetGarantiaPorCliente_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServicioGarantia/GetGarantiaPorClienteResponse" message="tns:IServicioGarantia_GetGarantiaPorCliente_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetGarantia">
      <wsdl:input wsaw:Action="http://tempuri.org/IServicioGarantia/GetGarantia" message="tns:IServicioGarantia_GetGarantia_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServicioGarantia/GetGarantiaResponse" message="tns:IServicioGarantia_GetGarantia_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAllGarantias">
      <wsdl:input wsaw:Action="http://tempuri.org/IServicioGarantia/GetAllGarantias" message="tns:IServicioGarantia_GetAllGarantias_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServicioGarantia/GetAllGarantiasResponse" message="tns:IServicioGarantia_GetAllGarantias_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IServicioGarantia" type="tns:IServicioGarantia">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="InsertGarantia">
      <soap:operation soapAction="http://tempuri.org/IServicioGarantia/InsertGarantia" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateGarantia">
      <soap:operation soapAction="http://tempuri.org/IServicioGarantia/UpdateGarantia" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteGarantia">
      <soap:operation soapAction="http://tempuri.org/IServicioGarantia/DeleteGarantia" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetGarantiaPorCliente">
      <soap:operation soapAction="http://tempuri.org/IServicioGarantia/GetGarantiaPorCliente" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetGarantia">
      <soap:operation soapAction="http://tempuri.org/IServicioGarantia/GetGarantia" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllGarantias">
      <soap:operation soapAction="http://tempuri.org/IServicioGarantia/GetAllGarantias" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ServicioGarantia">
    <wsdl:port name="BasicHttpBinding_IServicioGarantia" binding="tns:BasicHttpBinding_IServicioGarantia">
      <soap:address location="http://localhost:8733/Design_Time_Addresses/WCF_SolicitudesCreditos/ServicioGarantia/" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>