SolicitudesWEB_GUI/Connected Services/ProxyAnalistaP/WCF_SolicitudesCreditos2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://DESKTOP-CRJD420/WCF_SolicitudesCreditos/WCF_SolicitudesCreditos.servicioAnalista.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/WCF_SolicitudesCreditos" />
  <xs:element name="GetRankingAnalista">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="vTop" type="xs:int" />
        <xs:element minOccurs="0" name="vEstSolicitud" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRankingAnalistaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/WCF_SolicitudesCreditos" minOccurs="0" name="GetRankingAnalistaResult" nillable="true" type="q1:ArrayOfAnalistaBE" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllAnalista">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllAnalistaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/WCF_SolicitudesCreditos" minOccurs="0" name="GetAllAnalistaResult" nillable="true" type="q2:ArrayOfAnalistaBE" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetContarAnalistasXSolicitudes">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="strCod" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Est_Solicitud" type="xs:short" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetContarAnalistasXSolicitudesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetContarAnalistasXSolicitudesResult" type="xs:short" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAnalista">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Id_analista" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAnalistaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/WCF_SolicitudesCreditos" minOccurs="0" name="GetAnalistaResult" nillable="true" type="q3:AnalistaBE" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>