MVC_Solicitud/Connected Services/ProxySolicitud/WCF_SolicitudesCreditos.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/WCF_SolicitudesCreditos" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/WCF_SolicitudesCreditos" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfSolicitudBE">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="SolicitudBE" nillable="true" type="tns:SolicitudBE" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfSolicitudBE" nillable="true" type="tns:ArrayOfSolicitudBE" />
  <xs:complexType name="SolicitudBE">
    <xs:sequence>
      <xs:element minOccurs="0" name="Agen_direccion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Ape_analista" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Ape_cli" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="AprobacionFecha" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Boleta" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CuotaNro" type="xs:short" />
      <xs:element minOccurs="0" name="Cuotas" type="xs:short" />
      <xs:element minOccurs="0" name="Departamento" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Distrito" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Est_desembolso" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Est_solicitud" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Estado" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Fec_aprobacion" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Fec_desembolso" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Fec_pago" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Fec_rechazo" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Fec_reg" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Fec_solicitud" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Fec_ult_mod" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Id_agencia" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id_analista" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id_cli" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MontCancelado" type="xs:float" />
      <xs:element minOccurs="0" name="Monto_solici" type="xs:decimal" />
      <xs:element minOccurs="0" name="Motivo_rechazo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Nom_analista" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Nom_cli" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Num_cuenta" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PRODUCTO" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Provincia" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PruebaFecha" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="RechazoFecha" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Retraso" type="xs:short" />
      <xs:element minOccurs="0" name="Tipo_producto" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Usu_registro" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Usu_ult_mod" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ld_solicitud" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SolicitudBE" nillable="true" type="tns:SolicitudBE" />
</xs:schema>