MVC_Solicitud/Connected Services/ProxyAnalista/service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="servicioAnalista" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import namespace="http://tempuri.org/" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/WCF_SolicitudesCreditos" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IservicioAnalista_GetRankingAnalista_InputMessage">
    <wsdl:part name="parameters" element="tns:GetRankingAnalista" />
  </wsdl:message>
  <wsdl:message name="IservicioAnalista_GetRankingAnalista_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetRankingAnalistaResponse" />
  </wsdl:message>
  <wsdl:message name="IservicioAnalista_GetAllAnalista_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllAnalista" />
  </wsdl:message>
  <wsdl:message name="IservicioAnalista_GetAllAnalista_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllAnalistaResponse" />
  </wsdl:message>
  <wsdl:message name="IservicioAnalista_GetContarAnalistasXSolicitudes_InputMessage">
    <wsdl:part name="parameters" element="tns:GetContarAnalistasXSolicitudes" />
  </wsdl:message>
  <wsdl:message name="IservicioAnalista_GetContarAnalistasXSolicitudes_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetContarAnalistasXSolicitudesResponse" />
  </wsdl:message>
  <wsdl:message name="IservicioAnalista_GetAnalista_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAnalista" />
  </wsdl:message>
  <wsdl:message name="IservicioAnalista_GetAnalista_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAnalistaResponse" />
  </wsdl:message>
  <wsdl:portType name="IservicioAnalista">
    <wsdl:operation name="GetRankingAnalista">
      <wsdl:input wsaw:Action="http://tempuri.org/IservicioAnalista/GetRankingAnalista" message="tns:IservicioAnalista_GetRankingAnalista_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IservicioAnalista/GetRankingAnalistaResponse" message="tns:IservicioAnalista_GetRankingAnalista_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAllAnalista">
      <wsdl:input wsaw:Action="http://tempuri.org/IservicioAnalista/GetAllAnalista" message="tns:IservicioAnalista_GetAllAnalista_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IservicioAnalista/GetAllAnalistaResponse" message="tns:IservicioAnalista_GetAllAnalista_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetContarAnalistasXSolicitudes">
      <wsdl:input wsaw:Action="http://tempuri.org/IservicioAnalista/GetContarAnalistasXSolicitudes" message="tns:IservicioAnalista_GetContarAnalistasXSolicitudes_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IservicioAnalista/GetContarAnalistasXSolicitudesResponse" message="tns:IservicioAnalista_GetContarAnalistasXSolicitudes_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAnalista">
      <wsdl:input wsaw:Action="http://tempuri.org/IservicioAnalista/GetAnalista" message="tns:IservicioAnalista_GetAnalista_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IservicioAnalista/GetAnalistaResponse" message="tns:IservicioAnalista_GetAnalista_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IservicioAnalista" type="tns:IservicioAnalista">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetRankingAnalista">
      <soap:operation soapAction="http://tempuri.org/IservicioAnalista/GetRankingAnalista" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllAnalista">
      <soap:operation soapAction="http://tempuri.org/IservicioAnalista/GetAllAnalista" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetContarAnalistasXSolicitudes">
      <soap:operation soapAction="http://tempuri.org/IservicioAnalista/GetContarAnalistasXSolicitudes" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAnalista">
      <soap:operation soapAction="http://tempuri.org/IservicioAnalista/GetAnalista" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="servicioAnalista">
    <wsdl:port name="BasicHttpBinding_IservicioAnalista" binding="tns:BasicHttpBinding_IservicioAnalista">
      <soap:address location="http://localhost:8733/Design_Time_Addresses/WCF_SolicitudesCreditos/servicioAnalista/" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>