SolicitudesWEB_GUI/Connected Services/ProxyAnalistas/WCF_SolicitudesCreditos.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/WCF_SolicitudesCreditos" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/WCF_SolicitudesCreditos" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfAnalistaBE">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="AnalistaBE" nillable="true" type="tns:AnalistaBE" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfAnalistaBE" nillable="true" type="tns:ArrayOfAnalistaBE" />
  <xs:complexType name="AnalistaBE">
    <xs:sequence>
      <xs:element minOccurs="0" name="Ape_analista" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ApellNombre" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DNI_analista" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Email_analista" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Fec_Ingreso" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Id_agencia" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id_analista" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Net_value" type="xs:int" />
      <xs:element minOccurs="0" name="Nom_analista" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NumeroSolicitudes" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="AnalistaBE" nillable="true" type="tns:AnalistaBE" />
</xs:schema>